.books-container {
    text-align: center;
    padding: 20px;
  }
  
  .book-section {
    margin: 20px auto;
    padding: 15px;
    max-width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-style: italic;
    font-size: 28px;
    color: #333;
  }
  
  h2 {
    font-size: 25px;
    font-weight:bold;
    color: rgba(236, 104, 130, 0.584);
  }
  
  ul {
    list-style-type:none;
    padding: 10px;
    border-radius: 2px;

  }
  
  li {
    font-size: 18px;
    padding: 5px 0;
  }
  button{
    color:white;
    background-color: rgba(236, 104, 130, 0.8);
    font-size: larger;
  }
  button:hover
  {
    color:white;
    background-color: #4caf50;
    font-size: larger;
  }
  