h1 {
  color: #f5f0f0; /* Change to any color you prefer */
  font-size: 32px;
  text-align: center;
}

.business-container {
    text-align: center;
    padding: 10px;
    color:white;
    
  }
  .genre-selection, .book-selection {
    margin: 20px auto;
  }
  label {
    font-size: 15px;
    margin-right: 10px;
  }
  
  select {
    color:rgba(19, 19, 19, 0.584);
    padding: 5px;
    font-size: 15px;
  }
  
  .action-buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 12px;
    margin: 10px;
    border:rgba(230, 172, 172, 0.584);
    cursor: pointer;
    border-radius: 10px;
  }
  
  .sell-button {
    background-color: white;
    color: rgb(14, 14, 14);
  }
  
  .buy-button {
    background-color: white;
    color: rgb(14, 14, 14);
  }
  
  button:hover {
    opacity: 1;

  }
  .reset-button {
    background-color: #ff9800;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  .reset-button:hover {
    opacity: 0.8;
  }
  
  